{'masternode@home.joqhome.eu',{providedServices,[sw_mgr]},{neededServices,[sw_mgr]}}.
{'worker10@home.joqhome.eu',{providedServices,[test_1,mymath]},{neededServices,[sw_mgr,mymath]}}.
{'worker11@home.joqhome.eu',{providedServices,[dbase,mymath]},{neededServices,[sw_mgr,mymath]}}.
{'worker12@home.joqhome.eu',{providedServices,[test_1,mymath]},{neededServices,[sw_mgr,mymath,dbase]}}.
{repositoryPath,"repository"}.
